GEMINI_API_KEY=your_gemini_api_key
VITE_SUPABASE_URL=https://aakpspgcksftkvluvacy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFha3BzcGdja3NmdGt2bHV2YWN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEwMDk0NzksImV4cCI6MjA4NjU4NTQ3OX0.1CuijZd4fllkb1Ii7XhpHAjk6BpLW7fmMjywfDaePrg
